@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 80vw;
    
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background: #fff url('../images/login.jpg')   no-repeat left center;
        background-size: cover;
        height: 515px;
    }

    div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background: #fff url('../images/login.jpg')   no-repeat left center;
        background-size: cover;
        height: 515px;
    }

    div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario > h1 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}

